
/* :global(.profile_wrapper) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */

.sidebar{
    flex: 0 0 var(--sb-width);
    max-width: var(--sb-width);
    min-width: var(--sb-width);
    background-color: var(--color-white);
    padding: 1.15rem;
    transition: all .5s ease-in-out;
    height: 100vh;
    overflow: hidden;
}
.sb_wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: calc(100% + 1rem);
}
.logo{
    width: 100%;
    min-height: 50px;
    background:#ffffff no-repeat center center ;
    background-size: contain;
}
.logo img{
    margin: 0 auto;
}
.profile_wrapper .image{
    width: 60%;
    /* height: 120px; */
    aspect-ratio: 1;
    margin: 1em auto;
    background:#ffffff no-repeat center center ;
    background-size: contain;
}
.name{
    font-size: 20px;
    color: var(--color-black);
    margin: 0 0 .33em 0;
}
.job{
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 .33em 0;
}
.badge{
    border: 1px solid #efefef;
    padding: 0.3em 0.5em;
    max-width: 90px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.badge svg{
    color: var(--bg-accent);
    margin: -1px 6px 0 0;
}
.menu_wrapper{
    min-height: 50%;
}
.nav_footer div{
    max-width: 70%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
}