.dashboard{
    display: flex;
    min-height: 100vh;
    background-color: rgb(218, 218, 218);
}
.mc_wrapper{
    overflow: auto;
    padding: 0 calc(5% + 1em) 0 5%;
}
.mc_wrapper .page_top{
    position: sticky;
    top: 0;
    z-index: 11;
}
.top_serach{
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;

}
.top_serach input {
    background-color: transparent;
    font-size: var(--font-s2);
    border: none;
    padding: 10px 20px;
}
.top_serach input:focus {
    outline: none;
}
.icon_wrapper{
    width: 90px;
    height: 90px;
    aspect-ratio: 1;
    background-color: #21c3a7;
    border-radius: 50%;
}
.top_setting > svg {
    margin-right: var(--font-s2);
}
.top_setting button{
    font-size: var(--font-s2);
    padding: .8em 1.22em;
    border-radius: .5em;
    box-shadow: rgb(255 51 36 / 43%) 0px 10px 28px -2px, rgb(0 0 0 / 6%) 0px 0px 0px 1px
}
/* cards */
.card_wrapper{
    width: 30%;
    max-width: 210px;
    position: relative;
    height: 400px;
}
.card_wrapper:hover .recipe_card {
        transform: translateY(-10px);
        box-shadow:
          rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
          rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}
.recipe_card{
    width: 100%;
    border-radius: 1em;
    min-height: 296px;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4em;
    padding: 2.5em 1.5em 0;
    margin-bottom: 1em;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.recipe_card h6{
    white-space: nowrap;
    max-width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recipe_card img{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    top: -4em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.recipe_card .recipe_level{
    font-size: 13px;
    border-radius: 3px;
    background-color: aquamarine;
}
.recipe_level[data-level="B"]{  /* B = Beginner */
    background-color: #d1ffef;
    color: #0c9145;
}
.recipe_level[data-level="I"]{  /* I = Intermediate */
    background-color: rgb(249 219 212);
    color: #da7224;
}
.recipe_level[data-level="A"]{ /* A = Advanced */
    background-color: rgb(202, 170, 240);
    color: #9f371a;
}
.recipe_numbers > div{
    flex: 0 0 33.33%;
    text-align: center;
}
.recipe_numbers .muted.text{
    margin-top: .5em;
    font-size: 12px;
}
.recipe_rating{
    color: var(--bg-accent);
    height: 24px;
}
.recipe_rating svg.inactive{
    opacity: .2;
}
.recipe_card_btn, .recipe_numbers{
    width: calc(100% + 3em);
}
.recipe_card_btn button{
    background-color: var(--bg-white);
    border-radius: 0 0 15px 15px;
    height: 56px;
}
                            
@media (max-width: 991px){
    .icon_wrapper{
        width: 70px;
        height: 70px;
    }
}