.wrapper{
    display: flex;
    padding: 10px 15px;
    color: var(--color-mute);
    cursor: pointer;
    margin: 10px auto;
    align-items: center;
}
.link{
    text-decoration: none;
}
.icon {
    text-align: center;
    padding: 0px 10px;
}
.icon svg{
    vertical-align: middle;
}