#Maincontainer {
    width: 100%;
    height: 100vh;
    display: block;
    padding: 0 1em;
    padding-right: 0;
    max-width: cal(100vw - var(--sb-width));
    overflow: hidden;
}
#Maincontainer > div{
    height: 100%;
}

#Maincontainer > div > div{
    background-color: var(--bg-beige);
}
/* Empty pages */
#Maincontainer > a + div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}