.App {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-beige);

}
.text.muted{
    color: var(--color-mute);
}
.navigation .active{
    color: var(--color-black);
    font-weight: bold;
}
.navigation .active .icon{
    color: var(--bg-accent)
}
.text_custom{
    font-family: var(--custom-title-font);
    font-weight: 700;
}
@media (max-width: 767px){
    #Sidebar{
        --sb-width: 80px;
        overflow: hidden;
        padding: 0em;
    }
    #Sidebar div[class*="sb_wrapper"]{
        width: 100%;
    }
}
@media (max-width: 1091px){
    .card_wrapper{
        min-width: 230px;
    }
}
@media screen and (max-height: 700px) {
    #Sidebar div[class*="menu_wrapper"]{
        min-height: auto;
    }
}