@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
@font-face {
    font-family: berkshireSwash;
    src: url('../assets/fonts/berkshireSwash.ttf');
  }
*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

#root {
    overflow: hidden;
    /* font-size: 10px; */
    --color-white : #fefefe;
    --bg-beige : #fbf3ef;
    --bg-accent: rgb(255, 51, 36);
    --bg-green: rgb(136, 174, 136);
    --sb-width: 240px;
    --color-black: #272727;
    --color-mute: #7f7f7f;
    --scroll-offet: 30px;
    --custom-title-font: 'Lobster Two', cursive;
    --font-s1: 1.2rem;
    --font-s2: .9rem;
}

body {
    margin: 0;
    /* font-family: 'Radio Canada', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.d-flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.m-0{
    margin: 0;
}
.h-100{
    height: 100%;
}
.t-center{
    text-align: center;
}
.circular{
    border-radius: 50%;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-1{
    margin-top: 1em;
}
.mb-1{
    margin-bottom: 1em;
}
.o-auto{
    overflow: auto;
}
.o-hidden{
    overflow: hidden;
}
button{
    border: none;
    color: var(--color-white);
    padding: .3em .8em;
    transition: background-color .2s ease-in;
}
button:hover, button.with_bg{
    cursor: pointer;
    background-color: var(--bg-accent);
    color: var(--color-white) !important;
}